/* You can add global styles to this file, and also import other style files */
@import "~@angular/material/prebuilt-themes/indigo-pink.css";
@import url('https://fonts.googleapis.com/css?family=Montserrat');

* { font-family: 'Montserrat', sans-serif; }

a { text-decoration: none }
img { width: 100%; }
.heading { font-size: 54px; font-weight: 400; }

.alert_success, .alert_danger {
    padding: 10px 15px;
    color: white;
    box-shadow: 0 1px 8px black;
    margin: 25px 0;
}
.alert_success { background: green; }
.alert_danger { background: red; }
.text_danger { color: red }
.err_ul {
    margin: 0; padding: 0;
    font-size: 15px;
    list-style-type: none;
}
.hide { display: none; }
 div[class*='col_'] {
    display: inline-block;
}
.col_3 {
    width: 33.33%;
}
div.col_2 { width: 20% }
div.col_8 { width: 80% }

