.example-card {
    margin: 10px 0;
  }
  .example-header-image {
    background-image: url('https://material.angular.io/assets/img/examples/shiba1.jpg');
    background-size: cover;
  }
  .mat_action {
    position: relative;
  }
  .mat_action .likes {
    position: absolute;
    top: 12px; left: 28px;
    font-size: 13px;
  }
  .authButtons { float: right; margin-top: -12px; }
  .jump_link:hover {
    cursor: pointer;
    color: #523d79;
  }

  .blogImg {
    height: 267px;
  }
  .mat-badge-medium.mat-badge-overlap.mat-badge-after .mat-badge-content {
    right: -7px;
    top: -7px;
  }